pkg
.DS_Store
.swp
bundler_stubs/*
TAGS
REVISION
*.tmproj
*~
.autotest
.settings
.project
.tasks-cache
.svn
/nbproject
/.idea
/log/*.log
/log/*.age
/log/newrelic*
/dump/*
/pdfs/*
tmp/
*DONOTVERSION*
/vendor/src/**/*
/db/*.sqlite*
/db/fixtures/
/coverage
/coverage.data
/doc/app
/doc/plugins
/db/schema.rb
/db/structure.sql
/public/ac/*
/public/sitemap*.xml.gz
/public/cache/*
/public/assets/**/*
/public/stylesheets/*
/public/javascripts/*
/public/system/*
.loadpath
capybara-*.html
rails_best_practices_output.html
/config/database.yml
/config/environments/development.rb
/config/settings/development.yml
.bundle/
db/*.sql.bz2
.sass-cache
.tags
.tags_sorted_by_file
vendor/bundle

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
*.sql
sandi_meter/
*.gz
ssllocal/*
node_modules/*
public/docs/
*.sublime-*
